$ cat
.gitignore
Pr_avar.exe
Pr_avar.res

/jsontest/forinstal/*

*.res
*.dll
*dcu
*.~*
*.bat
*.rar
*.zip
*.MB
*.DB
*.ddp
*.txt
*.log
*.exe*
*.htm
*.bmp
*.xml
*.todo
*.log
*.doc
*.xls
*/*.dll
*.sql
*.ini
_AvarOnMap/*
AppErrPics/
1/
udf/
*.r1*
*.exe*r*
*.ini*r*
*.dsk*r*



